<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      APLICACIONES MÓVILES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/cell.jpg" alt="" />
      <ion-card-header>

        
        <ion-card-title>DEBER 02: IMPLEMENTAR UNA APLICACIÓN QUE PERMITA TOMAR FOTOS CON IONIC</ion-card-title>
        <ion-card-subtitle>Tupiza Carrera Alexander Fernando</ion-card-subtitle>
        <ion-card-subtitle>Indicaciones:</ion-card-subtitle>
        <p>Implementar una aplicación que permita tomar fotos con Ionic, únicamente PWA</p>
      <p>Entregable: link de github con el código de la aplicación y captura con la aplicación funcionando.</p>
      </ion-card-header>
      
      <ion-card-content>
       <p></p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/doc.jpg" alt="" />
      <ion-card-header>

        
    <ion-card-title class="ion-text-center">BIENVENIDO A IONIC</ion-card-title>
    <p class="ion-text-center">Ionic proporciona un conjunto de herramientas para crear aplicaciones nativas de iOS y Android, así como aplicaciones web progresivas para dispositivos móviles, usando bibliotecas web, marcos y lenguajes familiares.</p>
    <p class="ion-text-center">Ionic framework, que es gratis y de código abierto, ofrece una biblioteca de componentes, gestos y herramientas de interfaz de usuario optimizados para dispositivos móviles.</p>
  </ion-card-header>
      
   
    </ion-card>


    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos</ion-label>
      </ion-list-header>
      <ion-item href="https://github.com/FernandoTupiza">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>GitHub</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/angular/your-first-app">
        <ion-icon slot="start" color="medium" name="laptop-outline"></ion-icon>
        <ion-label>Primera aplicación en Ionic </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/ja/v5/developer-resources/guides/first-app-v4/creating-photo-gallery-device-storage">
        <ion-icon slot="start" color="medium" name="camera-outline"></ion-icon>
        <ion-label>Galeria de Fotos</ion-label>
      </ion-item>
      <ion-item href="https://ionic.io/ionicons">
        <ion-icon slot="start" color="medium" name="logo-ionic"></ion-icon>
        <ion-label>Iconos Ionic</ion-label>
      </ion-item>
    </ion-list>
</ion-content>